.task-item.completed {
    background-color: #d4edda;
}
.task-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-buttons {
    display: flex;
    gap: 10px;
}
/* Estilos personalizados para los botones */
.button.is-small.is-outlined {
    border-width: 2px;
}